/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/

html,body{
  scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
  text-transform:initial;
}

/* Cor de fundo do botão */
.btn-primary {
  background-color: #2a2d54; /* Nova cor de fundo */
  border-color: #2a2d54; /* Cor da borda */
}

/* Cor de fundo do botão quando hover */
.btn-primary:hover {
  background-color: #1c1e3a; /* Nova cor de fundo ao passar o mouse */
  border-color: #1c1e3a; /* Cor da borda ao passar o mouse */
}

/* Cor de fundo do botão quando ativo (clicado) */
.btn-primary:active {
  background-color: #141623; /* Nova cor de fundo quando clicado */
  border-color: #141623; /* Cor da borda quando clicado */
}

/* Cor de fundo do botão quando focado */
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(42, 45, 84, 0.5); /* Adicione um efeito de foco personalizado */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#navbarNav{
  margin-left: 820px;
}

/*Mudar a cor do nav ao fazer o scroll - associado ao js*/
.navbar.scrolled {
  background-color: #2a2d54 !important;
  transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link ,.navbar-brand {
  color: white;
}

.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

/*--------------------------------------------------------------
# Inicio
--------------------------------------------------------------*/

.inicio_txt{
  color: white;
  text-align: center;
  margin-right: 190px;
  /*Posicionado o Texto em relacao ao Conteiner*/
  position: absolute;
  top: 10%;
  left: 20%;
}

.inicioBusca {
  /*Dimensionando o elemento*/
  padding: 15px;
  
  /*Modelando A Caixa com sombra*/
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*aplicando sob a imagem um gradiente linear que causa o efeito de escurecimento*/
.inicio::before {
  content: "";
  position: absolute;
  top: 4%;
  left: 0;
  width: 100%;
  height: 91%;
  background: linear-gradient(to right, rgba(37, 37, 37, 0.9), rgba(37, 37, 37, 0.7));
}

/*Alterando o Tamanho dos Botoes dentro de inicio*/
.inicioBusca .btn-secondary{
  width: 120px;
  height: auto;
}

.inicioBusca .btn-primary{
  width: 140px;
}

/*--------------------------------------------------------------
# Serviços
--------------------------------------------------------------*/

.servicos {
  color: black;
}

.servicos .col {
  padding: 15px;

  /*Modelando A Caixa com sombra*/
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*--------------------------------------------------------------
# Novos Carros 
--------------------------------------------------------------*/

.novcar {
  font-size: 5rem;
  color: #444a57;
  text-align: center;
}

.novcar .carousel-item {
  width: 90%;
  height: auto;
  padding-left: 120px;
}

.novcar .carousel-indicators {
  background-color: #2a2d54;
}

/*Alterando os botoes do carrossel*/
.novcar .carousel-control-prev, .carousel-control-next {
  width: 80px;
  height: 80px;
  background-color: #2a2d54;
}

.novcar .carousel-control-prev{
 /*Posicionado o Texto em relacao ao Conteiner*/
 position: absolute;
 top: 40%;
 margin-left: 70px;

}

.novcar .carousel-control-next{
  /*Posicionado o Texto em relacao ao Conteiner*/
  position: absolute;
  top: 40%;
  margin-right: 70px;
}

.novcar h3,h5{
  margin-top: 60px;
  text-align: center;
}

/*--------------------------------------------------------------
# Novos Carros
--------------------------------------------------------------*/

.carros .container {
  margin-left: 190px;
}

.carros img{
  width: 90%;
}

.carros h2{
  margin-right: 190px;
}

.carros p{
  border-top: 1px solid #ccc;;
}

.carros .col-md-12{
  margin: 15px;

   /*Modelando A Caixa com sombra*/
   border: 1px solid #ccc;
   border-radius: 1px;
   background-color: #f8f8f8;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carros h2{
  font-size: 3rem;
  color: #444a57;
  text-align: center;
}

/*--------------------------------------------------------------
# Clientes
--------------------------------------------------------------*/
.clientes .container{
  margin-left: 160px;
}

.clientes .col-sm-3 {
padding: 15px;
/*Modelando A Caixa com sombra*/
border: 1px solid #ccc;
border-radius: 1px;
background-color: #f8f8f8;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clientes img {
  padding-bottom: 15px;
  /*Modelando A Caixa com sombra*/
  margin-left: 60px;
  }
  
.clientes h2 {
  margin-left: 260px;
}

/*--------------------------------------------------------------
# Marcas
--------------------------------------------------------------*/

.marca img {
  width: 80%;
}

/*--------------------------------------------------------------
# Financiamento  margin-left: 90px;
  margin-right: 90px;
--------------------------------------------------------------*/

.financiamento {
  background-color: #03619d;
  color:white;
  padding: 20px;
 
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  height: 600px;
  margin-top: 30px;
  padding: 20px;
  background-color: #2a2d54;
  color: white;
}

.footer .parag {
  border-top: 2px white solid;
  margin-top: 200px;
}

.footer ul{
  list-style-type: none;
}