
/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
*{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Conteiner Principal
--------------------------------------------------------------*/

.container {
    height: 100vh;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main_text_1 {
    font-size: 75px;
}

.main_text_2 {
    font-size: 40px;
}

#size{
    font-size: 20px;
    color:red;
}

.main__image img {
    border-radius: 10%;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer img {
    width: 5vw;
}

/*--------------------------------------------------------------
# Media Query Que faz um Redesign Para o tamanho de um celular
--------------------------------------------------------------*/

@media (max-width : 650px) {
  
    .main__image img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }

    .main_text_1 {
        font-size: 60px;
    }

    .main_text_2 {
        font-size: 30px;
    }

    [class^="footer__"] img {
        width: 45px;
        height: 45px;
    }
}

/*--------------------------------------------------------------
# Media Query Que ordenado do maior para o Menor que muda a cor
conforme o a responsividade da tela
--------------------------------------------------------------*/

@media (max-width: 1200px) {/* Desktop */
    /* Seus estilos aqui */
    .container {
        background-color: #bee1e6;
    } 
}

@media (max-width: 992px) { /* Laptop */
    /* Seus estilos aqui */
    .container {
        background-color: #52b788;
    } 
}

@media (max-width: 768px) {/* Tablet */
    /* Seus estilos aqui */
    .container {
        background-color: #fff1e6;
    } 
}

@media (max-width: 576px) { /* Mobile */
    /* Seus estilos aqui */
    .container {
        background-color: #cdb4db;
    } 
}