
/*Modelando A Caixa do Conteier com sombra*/
.container {
  
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  text-align: center;
}

.row {
  background-color: #d6f7ff;
}

/*Colorindo Os Titulos*/
.row .col-md-3:nth-child(1) h2 {
  background-color: #28bc6a;
  color: white;
}

.row .col-md-9:nth-child(2) h2 {
  background-color: #6b46e5;
  color: white;
}

.row .col-md-6:nth-child(1) h2 {
  background-color: #ff8c00;
  color: white;
}

.row .col-md-6:nth-child(2) h2 {
  margin-left: 10px;
  background-color: #e42112;
  color: white;
}

/*Alterando as bordas das colunas*/
.col-md-3:nth-child(1),
.col-md-9:nth-child(2),
.col-md-6:nth-child(1),
.col-md-6:nth-child(2) {
  border:2px solid #dcdfde;
}